{{ define "pages/footer" }}
      <!--begin::Footer-->
      <footer class="app-footer">
        <!--begin::Copyright-->
        <strong>
          Copyright &copy; 2026&nbsp;
          <a class="text-decoration-none" href="/">gokso</a>.
        </strong>
        All rights reserved.
        <!--end::Copyright-->
      </footer>
      <!--end::Footer-->
{{ end }}
